* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
* .ie7 {
  behavior: "/skin/frontend/kega/default/css/ie6-7-boxsizing/boxsizing.htc"; }

body {
  overflow-y: scroll;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #333333;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 62.5%;
  font-family: "Roboto", Arial, sans-serif; }

section {
  padding: 10px 0; }

.page {
  width: 960px;
  margin: 0 auto; }

.product-view {
  margin: 0 5px; }

.product-info-wrap {
  min-height: 499px;
  border-left: 1px solid #fff;
  background: #eeeeee; }

.theme-popup #cboxWrapper {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32); }

.alt-box__is-active {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 122, 218, 0.65);
  box-shadow: 0 0 7px 0 rgba(0, 122, 218, 0.65); }

.alt-box--alt__is-active {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32); }

.page:after, .header-container:after, .header-column-wrapper:after, .mini-cart-list:after, .inline-update:after, .nav-container:after, .breadcrumbs:after, .col1-layout:after, .col-main:after, .options-container-big:after, .product-essential:after, .product-media:after, .social-bar:after, .product-info-wrap:after, .product-options-bottom:after, .size-links:after, .footer-columns:after, .footer-icons:after, .ui-helper-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.button-primary, .button-secondary, .button-thertiary {
  border: 0;
  text-transform: uppercase;
  padding: 5px 15px;
  cursor: pointer; }

.button-primary {
  color: #fffdfa;
  background: #ad6a00; }
.button-primary:hover {
  background: #e08900; }
.button-primary:active {
  background: #e08900; }

.button-secondary {
  color: #484848;
  background: #eeeeee; }
.button-secondary:hover {
  background: #d4d4d4; }
.button-secondary:active {
  background: #d4d4d4; }

.button-thertiary {
  color: #d9d9d9;
  background: #333333; }
.button-thertiary:hover {
  background: #4d4d4d; }
.button-thertiary:active {
  background: #4d4d4d; }

.alt-box, .alt-box__is-active, .alt-box--alt, .alt-box--alt__is-active {
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4em;
  padding: 12px 15px 15px 20px; }

.alt-box, .alt-box__is-active {
  background: #333333;
  color: #cccccc; }

.alt-box--alt, .alt-box--alt__is-active {
  background: #eeeeee;
  color: #111111; }

.product-img-box, .product-info-wrap {
  float: left;
  width: 50%; }
