.btn-primary.disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
* .ie7 {
  behavior: "/skin/frontend/kega/default/css/ie6-7-boxsizing/boxsizing.htc"; }

body {
  overflow-y: scroll;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #333333;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 62.5%;
  font-family: "Roboto", Arial, sans-serif; }

.page {
  width: 960px;
  margin: 0 auto; }

.product-view {
  margin: 0 5px; }

.product-info-wrap {
  min-height: 499px;
  border-left: 1px solid #fff;
  background: #eeeeee; }

.theme-popup #cboxWrapper {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32); }

.alt-box__is-active {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 122, 218, 0.65);
  box-shadow: 0 0 7px 0 rgba(0, 122, 218, 0.65); }

.alt-box--alt__is-active {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32); }

.page:after, .header-container:after, .header-column-wrapper:after, .mini-cart-list:after, .inline-update:after, .nav-container:after, .breadcrumbs:after, .col1-layout:after, .col-main:after, .options-container-big:after, .product-essential:after, .product-media:after, .social-bar:after, .product-info-wrap:after, .product-options-bottom:after, .size-links:after, .footer-columns:after, .footer-icons:after, .ui-helper-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.btn-primary {
  background: #ad6a00;
  border: 0;
  color: white;
  text-transform: uppercase;
  padding: 5px 15px; }

.btn-primary {
  font-size: 1.2em;
  padding: 5px 10px; }
.btn-primary:hover {
  background: #c77a00; }
.btn-primary:active {
  -webkit-box-shadow: 0 0 2px 2px white;
  box-shadow: 0 0 2px 2px white; }

.alt-box, .alt-box__is-active, .alt-box--alt, .alt-box--alt__is-active {
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4em;
  padding: 12px 15px 15px 20px; }

.alt-box, .alt-box__is-active {
  background: #333333;
  color: white; }

.alt-box--alt, .alt-box--alt__is-active {
  background: #eeeeee;
  color: #333333; }

.product-img-box, .product-info-wrap {
  float: left;
  width: 50%; }
