.tab--is-active, .tab__alt--is-active {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0 0 10px 0;
  margin: 0 0 0.625rem 0; }

h1 {
  font-size: 24px;
  font-size: 1.5rem; }

h2 {
  font-size: 20px;
  font-size: 1.25rem; }

h3 {
  font-size: 18px;
  font-size: 1.125rem; }

h4 {
  font-size: 16px;
  font-size: 1rem; }

h5 {
  font-size: 14px;
  font-size: 0.875rem; }

h6 {
  font-size: 12px;
  font-size: 0.75rem; }

span {
  color: #797989; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
* .ie7 {
  behavior: "/skin/frontend/kega/default/css/ie6-7-boxsizing/boxsizing.htc"; }

body {
  overflow-y: scroll;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  margin: 0; }

section {
  padding: 10px 0; }

.button-primary, .button-secondary, .button-thertiary, .button-fourth {
  margin: 10px 0;
  margin: 0.625rem 0;
  border: 0;
  text-transform: uppercase;
  padding: 5px 15px;
  cursor: pointer; }

.button-primary {
  color: #fffdfa;
  background: #ad6a00; }
.button-primary:hover {
  background: #e08900; }
.button-primary:active {
  background: #e08900; }

.button-secondary {
  color: #484848;
  background: #eeeeee; }
.button-secondary:hover {
  background: #d4d4d4; }
.button-secondary:active {
  background: #d4d4d4; }

.button-thertiary {
  color: #d9d9d9;
  background: #333333; }
.button-thertiary:hover {
  background: #4d4d4d; }
.button-thertiary:active {
  background: #4d4d4d; }

.button-fourth {
  color: white;
  background: red; }
.button-fourth:hover {
  background: #ff3333; }
.button-fourth:active {
  background: #ff3333; }

.tab, .tab--is-active, .tab__alt, .tab__alt--is-active {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 12px 15px 15px 20px;
  padding: 0.75rem 0.9375rem 0.9375rem 1.25rem;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif; }

.tab, .tab--is-active {
  background: #333333;
  color: #cccccc; }

.tab__alt, .tab__alt--is-active {
  background: #eeeeee;
  color: #111111; }

.box__gradient, .box__account {
  padding: 20px 10% 20px 20px;
  background: #eee;
  margin: 10px 0;
  margin: 0.625rem 0; }
.box__gradient {
  background: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#333333));
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #333333 100%);
  background-image: linear-gradient(to bottom, #eeeeee 0%, #333333 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FF333333', GradientType=0); }

.box__account {
  font-size: 12px;
  font-size: 0.75rem; }

.box__gradient {
  font-size: 0.75em;
  margin: 0.625em 0.625em;
  color: white; }
@media only screen and (max-width: 40em) {
  .box__gradient {
    font-size: 32px;
    font-size: 2rem; } }
