# Folder view configuration files
.DS_Store
Desktop.ini

# Cache files
._*
Thumbs.db
.gitignore~
.sass-cache*

# Log files
*.log

# NodeJS
node_modules

# Files that might appear on external disks
.Spotlight-V100
.Trashes

css/*

.idea/*
