// Grid
$page-width: 960px;
$gutter: 5px;

// Colors
$black: #000;
$darkgray: #333;
$mediumgray: #797989;
$lightgray: #eee;
$white: #fff;
$mediumbrown: #ad6a00;
$lightbrown: #c77a00;

// Variable assignments
$text-color-inverted: $white;
$text-color-base: $darkgray;
$text-color-light: $mediumgray;
$text-color-dark: $black;
$link-color: $darkgray;
$link-hover-color: $black;
$panel-background: $lightgray;
$light-weight: 100;
$medium-weight: 400;
$bold-weight: 600;
$default-font-size: 16px;
$base-body-font-size: 10px;
$base-rem-font-size: $default-font-size;
$default-line-height: 1.4;

$header-font-weight: $bold-weight;
$primary-font-size: $default-font-size;
$primary-font-family: "Droid Sans", sans-serif;
$primary-font-weight: $medium-weight;
$primary-text-color: $darkgray;

$alt-font-family: "Roboto", Arial, sans-serif;
