* {
	@include box-sizing(border-box, "/skin/frontend/kega/default/css/ie6-7-boxsizing/boxsizing.htc");
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
	font-family: $primary-font-family;
	font-weight: $primary-font-weight;
	font-size: $primary-font-size;
	color: $primary-text-color;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: $default-font-size;
	font-family: $alt-font-family;
}

.page {
	@extend %clearfix;
	width: $page-width;
	margin: 0 auto;
}

.header-container {
	@extend %clearfix;
}

.header-column-wrapper {
	@extend %clearfix;
}

.mini-cart-list {
	@extend %clearfix;
}

.inline-update {
	@extend %clearfix;
}

.nav-container {
	@extend %clearfix;
}

.breadcrumbs {
	@extend %clearfix;
}

.col1-layout {
	@extend %clearfix;
}

.col-main {
	@extend %clearfix;
}

.options-container-big {
	@extend %clearfix;
}

.product-essential {
	@extend %clearfix;
}

.product-media {
	@extend %clearfix;
}

.social-bar {
	@extend %clearfix;
}

.product-info-wrap {
	@extend %clearfix;
}

.product-options-bottom {
	@extend %clearfix;
}

.size-links {
	@extend %clearfix;
}

.footer-columns {
	@extend %clearfix;
}

.footer-icons {
	@extend %clearfix;
}

.ui-helper-clearfix {
	@extend %clearfix;
}

// .ui-tabs .ui-tabs-active .ui-tabs-anchor {
// 	@extend %tab-box--is-light;
// }

// .ui-tabs .ui-tabs-anchor {
// 	@extend %tab-box--is-dark;
// }

.product-view {
	margin: 0 5px;
}

.product-img-box {
	@extend %common-box;
}

.product-info-wrap {
	@extend %common-box;
	min-height: 499px;
	border-left: 1px solid #fff;
	background: $box-light-color;
}

.theme-popup #cboxWrapper {
	@include box-shadow(0 0 7px 0 rgba(0,0,0,.32));
}

.alt-box {
	@extend %alt-box--dark;
}

.alt-box--alt {
	@extend %alt-box--light;
}

.alt-box__is-active {
	@extend %alt-box--dark;
	@include box-shadow(0 0 7px 0 rgba(0, 122, 218, 0.65));
}

.alt-box--alt__is-active {
	@extend %alt-box--light;
	@include box-shadow(0 0 7px 0 rgba(0, 0, 0, 0.32));
}
