* {
	@include box-sizing(border-box, "/skin/frontend/kega/default/css/ie6-7-boxsizing/boxsizing.htc");
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
	font-family: $primary-font-family;
	font-weight: $primary-font-weight;
	font-size: $primary-font-size;
	color: $primary-text-color;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: $default-font-size;
	font-family: $alt-font-family;
}

.page {
	width: $page-width;
	margin: 0 auto;
}