* {
	@include box-sizing(border-box, "/skin/frontend/kega/default/css/ie6-7-boxsizing/boxsizing.htc");
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	color: $base-color;
	margin: 0;
}