// Box Sizing @mixin with IE6, IE7 hack.
// @include box-sizing(border-box, /skin/frontend/kega/default/css/ie6-7-boxsizing/boxsizing.htc);
// Using Schepp's polyfill for older IE browsers: https://github.com/Schepp/box-sizing-polyfill

@mixin box-sizing($box-model, $url) {
	box-sizing: $box-model;
	.ie7 {
		behavior: $url; // <= IE6 & IE7
	}
}

// Opacity

@mixin opacity($trans) {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
	filter: alpha(opacity=#{$trans * 100});
	opacity: $trans;
}

// Box Shadow

@mixin box-shadow($value) {
	box-shadow: $value;
} 