$page-width: 960px;

// Colors
$black: #000;
$darkgray: #333;
$mediumgray: #797989;
$lightgray: #eee;
$white: #fff;
$mediumbrown: #ad6a00;
$lightbrown: #c77a00;

$text-color-inverted: $white;
$text-color-base: $darkgray;
$text-color-light: $mediumgray;
$text-color-dark: $black;

$link-color: $darkgray;
$link-hover-color: $black;

$box-light-color: $lightgray;
$box-medium-color: $mediumgray;
$box-dark-color: $darkgray;
