.header {
	padding: 0;
}

.header-panel {
	position: relative;
	@include rem(padding, 0 5px);
}

.header-panel .full-width {
	@include rem(padding, 0 5px);
}

.header.column {
	float: left;
	width: percentage(313px / 940px);
}

.header.right {
	float: right;
}

.logo strong {
	display: none;
}

.nav-container {
	@extend %clearfix;
}
