* {
    @include box-sizing(border-box, "/skin/frontend/kega/default/css/ie6-7-boxsizing/boxsizing.htc");
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    font-family: $primary-font-family;
    font-weight: $primary-font-weight;
    font-size: $base-body-font-size;
    color: $primary-text-color;
    margin: 0;
}

section {
    @include rem(padding, $gutter 0);
}

.page {
	@include rem(width, 960px);
	@include rem(padding, 10px 0);
	margin: 0 auto;

}

.centered {
    margin: 0 auto;
}

.bg-white {
	background-color: #fff;
}
