/* A mixin where we generate a button by passing a color argument as value.
----------------------------------- */

@mixin element-font-bg-color($color) {
  @if type-of($color) == color {
    @if lightness($color) < lightness(#e7e7e7) {
      color: lighten($color, 65%);
      background: $color;
      &:hover {
        background: lighten($color, 10%);
      }
      &:active {
        background: lighten($color, 10%);
      }
    } @else {
      color: darken($color, 65%);
      background: $color;
      &:hover {
        background: darken($color, 10%);
      }
      &:active {
        background: darken($color, 10%);
      }
    }
  } @else {
    @warn '`#{$color} is not a color!';
  }
}