footer {
  @include rem(margin, 0 5px);
}

.bottom-links {
  @include rem(padding, 0 0 15px);
  clear: left;
  float: left;
}

.bottom-links li {
  display: inline;
  float: left;
}

.bottom-links .conditions {
  text-transform: uppercase;
}
