footer {
  margin: 0 5px;
}

.bottom-links {
  clear: left;
  float: left;
  padding-bottom: 15px;
}

.bottom-links li {
  display: inline;
  float: left;
}

.bottom-links .conditions {
  text-transform: uppercase;
}
