$tab-themes: (
	primary : $box-dark-color,
	alt : $box-light-color
) !default;

%tab {
	@include rem(font-size, 14px);
	@include rem(padding, 12px 15px 15px 20px);
	text-transform: uppercase;
	font-family: $alt-font-family;
}

@mixin colorMixer($color) {
	@extend %tab;
	background: $color;
	color: invert($color);
}

@each $theme, $color in $tab-themes {
	%tab--#{$theme} {
		@include colorMixer($color);
	}
}

.tab {
	@extend %tab--primary;

	&--is-active {
		@extend %is-active;
		@extend %tab--primary;
	}

	&__alt {
		@extend %tab--alt;

		&--is-active {
			@extend %is-active;
			@extend %tab--alt;
		}
	}
}
