$box-themes: (
	dark : $box-dark-color,
	light : $box-light-color
) !default;

%alt-box {
	text-transform: uppercase;
	font-family: $alt-font-family;
	font-size: 1.4em;
	padding: 12px 15px 15px 20px;
}

@mixin colorMixer($color) {
	@extend %alt-box;
	background: $color;
	color: invert($color);
}

@each $theme, $color in $box-themes {
	%alt-box--#{$theme} {
		@include colorMixer($color);
	}
}

.alt-box {
	@extend %alt-box--dark;
}

.alt-box--alt {
	@extend %alt-box--light;
}

.alt-box__is-active {
	@extend %alt-box--dark;
	@include box-shadow(0 0 7px 0 rgba(0, 122, 218, 0.65));
}

.alt-box--alt__is-active {
	@extend %alt-box--light;
	@include box-shadow(0 0 7px 0 rgba(0, 0, 0, 0.32));
}
